<app-header [titulo]="titulo || 'Alert Page'"></app-header>


<ion-content class="ion-padding">

    <ion-button expand="full" color="primary" (click)="presentAlert()">
        View Alert
    </ion-button>


    <ion-button expand="full" color="secondary" (click)="presentInput()">
        View Input
    </ion-button>

    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>Component ion-alert</ion-card-subtitle>
            <ion-card-title>ion-alert</ion-card-title>
        </ion-card-header>

        <ion-card-content class="ion-padding">
            An Alert is a dialog that presents users with information or collects information from the user using inputs. An alert appears on top of the app's content, and must be manually dismissed by the user before they can resume interaction with the app. It
            can also optionally have a header, subHeader and message.


        </ion-card-content>
    </ion-card>
    <ion-card-subtitle *ngIf="action" color="danger" class="ion-padding"> {{ action }}</ion-card-subtitle>


</ion-content>