<ion-header>
  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title>Popover</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="mostrarPop( $event )">
        <ion-icon name="pint-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>


  </ion-toolbar>
</ion-header>

<ion-content padding>


    <ion-button expand="full" (click)="mostrarPop( $event )">
      <ion-icon name="pint-outline" slot="start"></ion-icon>
      <ion-label>Popover label</ion-label>
    </ion-button>
    <ion-card-subtitle *ngIf="action" color="danger" class="ion-padding"> {{ action }}</ion-card-subtitle>
    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>Component ion-popover</ion-card-subtitle>
            <ion-card-title>ion-popover</ion-card-title>
        </ion-card-header>

        <ion-card-content class="ion-padding">
            A Popover is a dialog that appears on top of the current page. It can be used for anything, but generally it is used for overflow actions that don't fit in the navigation bar.

            Presenting
            To present a popover, call the present method on a popover instance. In order to position the popover relative to the element clicked, a click event needs to be passed into the options of the the present method. If the event is not passed, the popover will be positioned in the center of the viewport.

            Customization
            Popover uses scoped encapsulation, which means it will automatically scope its CSS by appending each of the styles with an additional class at runtime. Overriding scoped selectors in CSS requires a higher specificity selector.

            We recommend passing a custom class to cssClass in the create method and using that to add custom styles to the host and inner elements. This property can also accept multiple classes separated by spaces. View the Usage section for an example of how to pass a class using cssClass.


        </ion-card-content>
    </ion-card>
    


</ion-content>


<ion-footer>

  <ion-toolbar color="primary">
    
    <ion-buttons slot="start">
      <ion-button (click)="mostrarPop( $event )">
        <ion-icon name="pint-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Footer</ion-title>
  
  
  
    </ion-toolbar>

</ion-footer>